<div class="content-wrapper">
  <div class="chat-box-wrapper">
    <div class="sidebar-section">
      <div *ngFor="let person of this.dataSource" class="profile-div" (click)="this.onProfileCLick(person)">
        <div class="profile-image-container">
          <span class="profile-image" [style.background]="'linear-gradient(' + this.angleOfGradient(person.username) +'deg , '
          + person.avatarColor + ' 0%, ' + this.invertHexColor(person.avatarColor) + ' 100%)'">
            {{this.getAvatarInitials(person)}}
          </span>
        </div>
        <div class="profile-details">
          <span style="color: #3E4654; font-size: large">{{person.firstName}} {{person.lastName}}</span>
          <p style="color: #ababab;">@{{person.username}}</p>
<!--          <div class="new-message-notification-bubble">-->
<!--            <p>New message</p>-->
<!--          </div>-->
        </div>
      </div>
    </div>
    <div class="chat-area" *ngIf="selectedPerson != null">
      <div class="chat-area-header">
        <div class="profile-image-container">
          <span class="profile-image" [style.background]="'linear-gradient(' + this.angleOfGradient(this.selectedPerson.username) +'deg , '
            + this.selectedPerson.avatarColor + ' 0%, ' + this.invertHexColor(this.selectedPerson.avatarColor) + ' 100%)'">
            {{this.getAvatarInitials(this.selectedPerson)}}
          </span>
        </div>
        <div class="chat-area-header-details">
          <span style="color: #3E4654; font-size: x-large; font-weight: bold;">{{this.selectedPerson.firstName}} {{this.selectedPerson.lastName}}</span>
          <p style="color: #ababab;">@{{this.selectedPerson.username}}</p>
        </div>
      </div>
      <div class="chat-area-messaging" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div [ngClass]="{
        'chat-message-received-container': !this.checkIfOwnMessage(message),
        'chat-message-sent-container': this.checkIfOwnMessage(message)}" *ngFor="let message of this.messages">
<!--          <mat-icon *ngIf="this.checkIfOwnMessage(message) && this.checkIfLastMessage(message)" class="sent-icon">-->
<!--            done_all-->
<!--          </mat-icon>-->
          <div [ngClass]="{
          'chat-message-sent-bubble': this.checkIfOwnMessage(message),
           'chat-message-received-bubble': !this.checkIfOwnMessage(message)}">
            <p>{{message.content}}</p>
            <p>seen: {{message.seen}}</p>
          </div>
        </div>
      </div>
      <div class="chat-area-footer">
        <form [formGroup]="form" (ngSubmit)="this.sendMessage()">
          <input type="text" class="write-message" placeholder="Type your message here" formControlName="content">
          <button mat-icon-button mat-stroked-button class="send-button" color="primary">
            <mat-icon>send</mat-icon>
          </button>
        </form>
      </div>
    </div>
    <div class="chat-area-empty" *ngIf="selectedPerson === null">
      <span>Start a conversation</span>
    </div>
  </div>
</div>
