.message{
  font-size: 14px;
  height: 28px;
  vertical-align: top;
  font-weight: 600;
}

.mat-icon{
  height: 14px;
  width: 14px;
  vertical-align: center;
  padding-right: 4px;
}

.material-icons{
  padding-top: 3px;
  font-size: 14px;
}
